<div class="row back">
  <div class="Consumed Licences">
      <div id="demo-pie-1" class="pie-title-center" data-percent="100" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{commonData.accountCount}}</span>
      </div>
      <span class="btn js_update demo-pie-1">Total Accounts</span>
  </div>
  <div class="Consumed Licences">
      <div id="demo-pie-2" class="pie-title-center" data-percent="100" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{commonData.licenseCount}}</span>
      </div>
      <span class="btn js_update demo-pie-2">Total Licenses</span>
  </div>
  <div class="Consumed Licences">
      <div id="demo-pie-3" class="pie-title-center" data-percent="300" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{commonData.storageCount}}</span>
      </div>
      <span class="btn js_update demo-pie-3">Total Storage</span>
  </div>
  <div class="Consumed Licences">
      <div id="demo-pie-4" class="pie-title-center" data-percent="110" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{commonData.kioskCount}}</span>
      </div>
      <span class="btn js_update demo-pie-4">Total Connected Kiosks</span>
  </div>
  <div class="Consumed Licences">
      <div id="demo-pie-5" class="pie-title-center" data-percent="500" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;"></span>
      </div>
      <span class="btn js_update demo-pie-5">XXX</span>
  </div>
  <div class="Consumed Licences">
      <div id="demo-pie-6" class="pie-title-center" data-percent="280" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{(dbConnected == 'Connected')?'ON':'OFF'}}</span>
      </div>
      <span class="btn js_update demo-pie-6">{{dbConnected}}</span>
  </div>
</div>
