<div class="header-div">Add/Edit Floor/Map</div>
<div class="main-panel">
  <form id="floor-form" #dataForm="ngForm" name="floorForm">
    <div class="row">
      <div class="col-md-6">
          <div class="form-group" *ngIf="!isAdd">
              <div class="row">
                <label for="inputEmail3" class="col-sm-3 col-md-3 control-label">UID</label>
                <div class="col-sm-9 col-md-9">
                    <input type="text" class="form-control guid_input" id="inputEmail3" placeholder="UID"
                     readonly [(ngModel)]="floorData._id" name='guid'/>
                </div>
              </div>
          </div>
          
        <div class="form-group">
          <div class="row">
            <label for="account-name" class="col-sm-3 col-md-3 control-label">Short Name<em>*</em></label>
            <div class="col-sm-9 col-md-9">
              <input type="text" class="form-control" id="floor_id"
                     placeholder="Short Name" [(ngModel)]="floorData.short_name"
                     name="shortName" required #shortName="ngModel">
              <div *ngIf="shortName.invalid && (shortName.dirty || shortName.touched)"
                   class="alert alert-danger">
                <div *ngIf="shortName.errors.required">
                  The Short Name is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label for="account-type" class="col-sm-3 col-md-3 control-label">Long Name<em>*</em></label>
            <div class="col-sm-3 col-md-3">
              <select class="form-control" id="language" name="language" [(ngModel)]="currentLanguage" >
                <option *ngFor="let lang of languages" value="{{lang._id}}">{{lang.language}}</option>
              </select>
            </div>
            <div class="col-sm-3 col-md-3">
              <input type="text" class="form-control" id="long_name"
                     placeholder="Floor Name" [(ngModel)]="currentLongName"
                     name="longName">
            </div>
            <div class="col-sm-3 col-md-3" style="padding-left:0px;text-align:center">
                <input type="button" (click)="addLongNameLanguage()" class="btn btn-info btn-add-lang" value="OK">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-9">
              <ul class="language-list" *ngIf="(showNameList).length!=0">
                <li *ngFor="let name of showNameList">
                  <div class="row add-bg">
                    <div class="col-3  col-sm-3 col-md-3">{{name.language}}</div>
                    <div class="col-6  col-sm-6 col-md-6">{{name.name}}</div>
                    <div class="col-3  col-sm-3 col-md-3">
                      <input type="button" class="del del_language fa fa-trash-o" (click)="removeLongNameLanguage(name.id)" value="Delete">
                    </div>
                  </div>
                </li>                
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group">
            <div class="row">
              <label for="account-name" class="col-sm-3 col-md-3 control-label">Floors Order<em>*</em></label>
              <div class="col-sm-9 col-md-9">
                  <select class="form-control" [(ngModel)]="floorData.floor_position" required #floorsNum="ngModel" name="floorsOrder">
                      <option *ngFor="let floor of freeFloors" value="{{floor}}">{{floor}}</option>
                    </select>
                    <div *ngIf="floorsNum.invalid && (floorsNum.dirty || floorsNum.touched)"
                        class="alert alert-danger">
                      <div *ngIf="floorsNum.errors.required">
                          The Floors Order is required.
                      </div>
                    </div>              
              </div>
            </div>
          </div>

        <div class="form-group">
          <div class="row">
            <label for="account-name" class="col-sm-3 col-md-3 control-label">Opening Hours<em>*</em></label>
            <div class="col-sm-9 col-md-9">
              <select class="form-control" [(ngModel)]="floorData.opening_hours" required #openingHours="ngModel" name="openingHours">
                <option *ngFor="let openingHours of timeslots" value="{{openingHours.name}}">{{openingHours.name}}</option>
              </select>
              <div *ngIf="openingHours.invalid && (openingHours.dirty || openingHours.touched)"
                  class="alert alert-danger">
                <div *ngIf="openingHours.errors.required">
                  The Opening Hours is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label for="account-name" class="col-sm-3 col-md-3 control-label">Validity<em>*</em></label>
            <div class="col-sm-9 col-md-9">
              <select class="form-control" [(ngModel)]="floorData.validity" required #validity="ngModel" name="validity">
                <option *ngFor="let validity of timeslots" value="{{validity.name}}">{{validity.name}}</option>
              </select>
              <div *ngIf="validity.invalid && (validity.dirty || validity.touched)"
                  class="alert alert-danger">
                <div *ngIf="validity.errors.required">
                  The Validity is required.
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="form-group">
            <div class="row">
              <label for="tags" class="col-sm-3 col-md-3 control-label">Tags</label>
              <div class="col-sm-9 col-md-9">
                <tags-input class="form-control input-lg" [(ngModel)]="floorData.tags" name="tags"></tags-input>              
              </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
              <label for="tags" class="col-md-3 control-label">Logo</label>
              <div class="col-md-9">
                  <div class="dropzone" id="fileupload" ></div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="row">
                <label for="info" class="col-md-3 control-label">Info</label>
                <div class="col-md-9" style="height:fit-content;">
                    <quill-editor [options]="editorConfig" name="infomation" [(ngModel)]="floorData.info" ></quill-editor>
                </div>
              </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label for="map" class="col-md-3 control-label">Map<em>*</em></label>
              <div class="col-md-9">
                <div class="dropzone" id="mapupload" ></div>
              </div>
            </div>
          </div> 
          
          <div class="form-group" style="margin-top:20px;">
            <div class="row">
              <label for="status" class="col-3 col-sm-3 col-md-3 control-label">Status<em>*</em></label>
              <div class="col-9 col-sm-9 col-md-9">              
                <mat-slide-toggle color="primary" [(ngModel)]="floorData.status" name="status">
                  {{floorData.status?'Enabled':'Disabled'}}
                </mat-slide-toggle>
              </div>
            </div>
          </div>
            
          <div class="spacebottom"></div>
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-9">
                  <button type="button" (click)="save()" class="btn btn-info btn-save" [disabled]="!dataForm.form.valid">Save</button>
                  <a [routerLink]="['/customer/home', { outlets: { popup: ['floormaps'] } }]" class="btn btn-info btn-cancel">Cancel</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
</div>
