<div class="row back">
  <div class="Consumed Licences">
      <div id="demo-pie-1" class="pie-title-center" data-percent="20" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{commonData.accountCount}}</span>
      </div>
      <span class="btn js_update demo-pie-1">Consumed Licenses</span>
  </div>
  <div class="Consumed Licences">
      <div id="demo-pie-2" class="pie-title-center" data-percent="15" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{commonData.licenseCount}}</span>
      </div>
      <span class="btn js_update demo-pie-2">Offile Players</span>
  </div>
  <div class="Consumed Licences">
      <div id="demo-pie-3" class="pie-title-center" data-percent="80" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{commonData.storageCount}}</span>
      </div>
      <span class="btn js_update demo-pie-3">Total Clicks</span>
  </div>
  <div class="Consumed Licences">
      <div id="demo-pie-4" class="pie-title-center" data-percent="70" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{commonData.kioskCount}}</span>
      </div>
      <span class="btn js_update demo-pie-4">Unique Clicks</span>
  </div>
  <div class="Consumed Licences">
      <div id="demo-pie-5" class="pie-title-center" data-percent="100" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{commonData.totallocations}}</span>
      </div>
      <span class="btn js_update demo-pie-5">Total Locations</span>
  </div>
  <div class="Consumed Licences">
      <div id="demo-pie-6" class="pie-title-center" data-percent="100" style="width:110px; height:110px;">
          <span class="pie-value" style="width:110px; height:110px;">{{(dbConnected == 'Connected')?'ON':'OFF'}}</span>
      </div>
      <span class="btn js_update demo-pie-6">{{dbConnected}}</span>
  </div>
</div>

<!-- <div class="Consumed Licences">
            <div id="demo-pie-1" class="pie-title-center" data-percent="{{chart1}}" style="width:110px; height:110px;">
                <span class="pie-value" style="width:110px; height:110px; background-color: #383838;
    color: #fff;"></span>
            </div>
            <span class="btn js_update demo-pie-1">Consumed Licenses </span>
        </div>
        <div class="Consumed Licences">
            <div id="demo-pie-2" class="pie-title-center" data-percent="{{chart2}}" style="width:110px; height:110px;">
                <span class="pie-value" style="width:110px; height:110px;background-color: #383838;
    color: #fff;"></span>
            </div>
            <span class="btn js_update demo-pie-2">Offline Players</span>
        </div>
        <div class="Consumed Licences">
            <div id="demo-pie-3" class="pie-title-center" data-percent="{{chart3}}" style="width:110px; height:110px;">
                <span class="pie-value" style="width:110px; height:110px;background-color: #383838;
    color: #fff;"></span>
            </div>
            <span class="btn js_update demo-pie-3">Total Clicks</span>
        </div>
        <div class="Consumed Licences">
            <div id="demo-pie-4" class="pie-title-center" data-percent="{{chart4}}" style="width:110px; height:110px;">
                <span class="pie-value" style="width:110px; height:110px;background-color: #383838;
    color: #fff;"></span>
            </div>
            <span class="btn js_update demo-pie-4">Unique Clicks</span>
        </div>
        <div class="Consumed Licences">
            <div id="demo-pie-5" class="pie-title-center" data-percent="{{chart5}}" style="width:110px; height:110px;">
                <span class="pie-value" style="width:110px; height:110px;background-color: #383838;
    color: #fff;"></span>
            </div>
            <span class="btn js_update demo-pie-5">Total Locations</span>
        </div>
        <div class="Consumed Licences">
            <div id="demo-pie-6" class="pie-title-center" data-percent="{{chart6}}" style="width:110px; height:110px;">
                <span class="pie-value" style="width:110px; height:110px;background-color: #383838;
    color: #fff;"></span>
            </div>
            <span class="btn js_update demo-pie-6">Total Kiosks</span>
        </div>
    </div> -->
